/* =============MENUBAR-CONTAINER============= */
.menubar-container {
	min-height: calc(100vh - 58px);
	width: 260px;
}

.menubar-inner-container {
	height: calc(100vh - 58px);
	max-width: 240px;
	z-index: 9999;
}

.menubar-item-link.active {
	background-color: #555555d0 !important;
}

.menubar-item-link:hover {
	background-color: #555555 !important;
	background-color: #555555d0 !important;
}

.menubar-item-link.active:hover {
	background-color: #3f3f3f !important;
}

.menubar-inner-container::-webkit-scrollbar {
	width: 7px;
}

.menubar-inner-container:hover::-webkit-scrollbar-thumb {
	background-color: #eeeeee7b;
}

/* ========================Relative Menubar Full======================== */
.relativeMenubarFull.menubar-container {
	width: 260px;
}

/* ========================Relative Menubar Small======================= */
.relativeMenubarSmall.menubar-container {
	width: 80px;
}

.relativeMenubarSmall .menubar-inner-container {
	max-width: 70px;
	padding-top: 0.5rem;
}

.relativeMenubarSmall .menubar-inner-container::-webkit-scrollbar {
	width: 0px;
}

.relativeMenubarSmall .menubar-items-boxs {
	padding: 0rem 0.3rem !important;
	border: none !important;
}

.relativeMenubarSmall .menubar-item-link {
	flex-direction: column;
	row-gap: 0.2rem;
	font-size: 0.6rem;
	padding: 1rem 0;
	text-align: center;
}

/* ========================Absolute Menubar======================= */
.absoluteMenubarShow.menubar-container {
	position: absolute;
}

.absoluteMenubarHide.menubar-container {
	width: 0;
	visibility: hidden;
	opacity: 0;
}
