.player-container .video-player {
	position: relative;
	min-height: 460px;
	height: 74vh;
}

.video-player .watch-iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.vPlayer-utilities-container .video-title {
	font-weight: 700;
	font-size: 1.3rem;
	letter-spacing: -0.8px;
}

.vPlayer-utilities-container .channel-name + span {
	font-size: 0.8rem;
}

.vPlayer-utilities-container .channel-img-box,
.vPlayer-description-container .channel-img-box {
	width: 2.8rem;
}

.vPlayer-description-container {
	text-wrap: wrap;
	letter-spacing: -0.1px;
	font-family: sans-serif;
	font-weight: 550;
	font-size: 0.83rem;
}

.vPlayer-description-container .description {
	position: relative;
}

.vPlayer-description-container .description .showSmall {
	height: 3.5rem;
	overflow: hidden;
}

.vPlayer-description-container .description .showFull {
	height: auto;
	overflow: visible;
}

.description .desc-show-btn {
	background-color: #222 !important;
	box-shadow: -8px 7px 4px 4px #222 !important;
	bottom: 0;
}

.description .showSmall + .desc-show-btn {
	position: absolute;
	right: 0;
}

.description .showFull + .desc-show-btn {
	position: relative;
	left: 0;
	margin-top: 3rem;
}
